[submodule "deps/glib"]
	path = deps/glib
	url = https://gitlab.gnome.org/GNOME/glib.git
[submodule "deps/libslirp"]
	path = deps/libslirp
	url = https://gitlab.freedesktop.org/slirp/libslirp.git
[submodule "deps/pixman"]
	path = deps/pixman
	url = https://gitlab.freedesktop.org/pixman/pixman.git
[submodule "deps/virglrenderer"]
	path = deps/virglrenderer
	url = https://gitlab.freedesktop.org/virgl/virglrenderer.git
[submodule "deps/libepoxy"]
	path = deps/libepoxy
	url = https://github.com/anholt/libepoxy.git
[submodule "deps/SDL2"]
	path = deps/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "qemu"]
	path = qemu
	url = https://github.com/qemu/qemu.git
[submodule "gldeps/SPIRV-Cross"]
	path = gldeps/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "gldeps/SPIRV-Headers"]
	path = gldeps/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "gldeps/SPIRV-Tools"]
	path = gldeps/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "gldeps/Vulkan-Headers"]
	path = gldeps/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "gldeps/VulkanMemoryAllocator"]
	path = gldeps/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "gldeps/angle"]
	path = gldeps/angle
	url = https://android.googlesource.com/platform/external/angle
[submodule "gldeps/angle-static-cmake"]
	path = gldeps/angle-static-cmake
	url = https://github.com/okuoku/angle-static-cmake
[submodule "gldeps/chromium-zlib"]
	path = gldeps/chromium-zlib
	url = https://github.com/okuoku/chromium-zlib
[submodule "gldeps/glslang"]
	path = gldeps/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "gldeps/volk"]
	path = gldeps/volk
	url = https://github.com/zeux/volk
